* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #020202; 
  font-family: 'DM Sans', system-ui, sans-serif;
} 

::selection {
  background: #222;
  color: #fff;
}
